
body{
  margin: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
}

#grid-container {
  display: inline-grid;
  grid-template-rows: auto;


}

.grid-item1 {
  top: 0;
  background-color: rgb(20,174,212);
  font-size: 30px;
  text-align: center;
  word-spacing: 5px;



}
.grid-item2{


  font-size: 30px;
  text-align: center;
}
.grid-item3{

  height: 100vh;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.grid-item4{


  font-size: 30px;
  text-align: center;
  position: relative;
}
.grid-item6{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 30px;
  text-align: center;
  position: relative;
}



.grid-item5{

  padding: 30px;
  font-size: 30px;
  text-align: center;
  position: relative;
}

#navBar{

    background: rgb(20,174,212);
    position: fixed;
    overflow: hidden;


    /* box-shadow: 5px 10px #000; */
    width: 100%;

}

#navbar1{
  display: grid;
  background-color: rgb(20,174,212);
  padding-left: 56px;
  width: 20%;
  position: fixed;
  overflow: hidden;
}

ul{
  list-style-type: none;

}

li {
  float: left;
  margin: 12.8px;
  padding-right: 20px;

}

#navbar2{
  padding-top: 20px;
  background-color: rgb(20,174,212);

  float: right;

  width: 80%;
}

/* #navbar3{
  padding-top: 20px;
} */

/* #icon{
  padding-left: 900px;
} */


h1{
  padding-top: 50px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: rgb(65,103,177);


}
 h2{
   text-align: center;
   font-size: 20px;
   padding-bottom: 90px;
   color: rgb(24,119,242);
   transform-origin: bottom center;
 }

 h3{
   font-size: 10px;
   padding-left: 150vh;
   margin: 0;
 }







 #biography{
   /* move over to the left */
   position: absolute;
   bottom: 30px;
   left: 30px;
   text-align: left;
   color: white;
   font-size: 20px;
   padding-left: 250px;
   padding-right: 350px;
 }



 #trees{
     /* move over to the left */
     position: absolute;
     bottom: 10px;
     left: 10px;
     text-align: left;
     color: white;
     font-size: 20px;
     padding-left: 250px;
     padding-right: 350px;
     height: 100vh;
   }

   img{
     opacity: 0.89;
   }



}
 h2{
   text-align: center;
   font-size: 20px;
   padding-bottom: 90px;
   color: rgb(24,119,242);
   transform-origin: bottom center;
 }

 h3{
   font-size: 10px;
   padding-left: 150vh;
   margin: 0;
 }


 .nav-bar{
   display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    background: rgb(20,174,212);
    height: 40px;
    z-index: 1;
    position: fixed;
    top: 0;
    /* box-shadow: 5px 10px #000; */
    width: 100%;
 }

 #navbar1{
    padding-left: 56px;
 }

 #navbar2{
   justify-content: center;
   height: 40px;

 }

 ul{
   list-style-type: none;

 }

 li {
   float: left;
   margin: 0 20px;
 }


#accountSettings{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background: purpl; */
}

/* BIOGRAPHY AND WHO WE ARE STYLING */
.bio{
  position: relative;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  border-style: solid;
  border-color: red; */
}

#biography{
  /* move over to the left */
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  color: white;
  font-size: 20px;
  padding-left: 250px;
  padding-right: 350px;
}
.products{
  position: relative;

}
#trees{
    /* move over to the left */
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    color: white;
    font-size: 20px;
    padding-left: 250px;
    padding-right: 350px;
    height: 100vh;
  }
  /* padding-top: 30%;
  padding-right: 10%; */

/* Products section */
/* img {
  border-radius: 48%;
} */

/* .products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  border-style: solid;
  border-color: blue;
}
#planet{
  grid-column: ;
  background: url("https://cdn11.bigcommerce.com/s-ixtrkzisub/product_images/uploaded_images/banner-plant-trees.jpg") no-repeat;
  height: 50px;
  width: 20px;
  z-index: 0;

}
#info{
  grid-column: 1/2;
  z-index: 1;
}
.investing{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  border-style: solid;
  border-color: purple;
}
#michael{
  grid-column: 1/2;
}
#employees{
  grid-column: 2/2;
} */
